2 Data parsing

In [1]:
import pandas as pd

In [2]:
ariba = pd.read_csv(r'~/Documents/agrosavia/coding_assessment_exercise-master/exercise_2/ariba_amr_output.csv')
ncbi = pd.read_csv(r'~/Documents/agrosavia/coding_assessment_exercise-master/exercise_2/ncbi_acquired_genes_metadata.csv')

In [3]:
ariba.head(3)

,name,A7J11_01233+.assembled,A7J11_01233+.ref_seq,A7J11_01233+.pct_id,A7J11_01233+.ctg_cov,aac_3__II-.assembled,aac_3__II-.ref_seq,aac_3__II-.pct_id,aac_3__II-.ctg_cov,aac_6___Ib+.assembled,...,tet_A_.pct_id,tet_A_.ctg_cov,tet_B_.assembled,tet_B_.ref_seq,tet_B_.pct_id,tet_B_.ctg_cov,tet_D_.assembled,tet_D_.ref_seq,tet_D_.pct_id,tet_D_.ctg_cov
0,G18250057,partial,A7J11_01233.NG_047213.1,99.31,22.9,no,NaN,NaN,NaN,yes,...,NaN,NaN,yes,tet_B_.NG_048163.1,100.0,41.5,no,NaN,NaN,NaN
1,G18250058,no,NaN,NaN,NaN,no,NaN,NaN,NaN,no,...,100.0,32.2,no,NaN,NaN,NaN,no,NaN,NaN,NaN
2,G18250059,no,NaN,NaN,NaN,yes,aac_3__IIa.NG_047244.1,99.77,22.6,no,...,NaN,NaN,no,NaN,NaN,NaN,no,NaN,NaN,NaN

In [4]:
ncbi.head()

  allele  gene_family refseq_nucleotide_accession               subclass
0    NaN  aac(2')-IIa                 NG_047225.1            KASUGAMYCIN
1    NaN  aac(2')-IIb                 NG_055672.1            KASUGAMYCIN
2    NaN   aac(2')-Ia                 NG_047226.1  GENTAMICIN/TOBRAMCYIN
3    NaN   aac(2')-Ib                 NG_047227.1  GENTAMICIN/TOBRAMCYIN
4    NaN   aac(2')-Ic                 NG_047229.1  GENTAMICIN/TOBRAMCYIN

In [5]:
resistance = ['CEPHALOSPORIN','CARBAPENEM']

In [6]:
ncbi_filtered = ncbi[ncbi['subclass'].str.contains('|'.join(resistance))]

In [7]:
#gene_family = list(ncbi_filtered['gene_family'].str.replace('-','_'))

In [8]:
gene_family = ncbi_filtered['gene_family'].tolist()

In [9]:
refseq = ncbi_filtered['refseq_nucleotide_accession'].tolist()

In [10]:
gene_family[0:10]

['bla2',
 'bla2',
 'bla2',
 'bla2',
 'bla2',
 'bla2',
 'blaACC',
 'blaACC',
 'blaACC',
 'blaACC']

In [11]:
gene_filtred = list(set(gene_family))
gene_filtred[0:10]

['blaNDM',
 'ampC',
 'blaB3PEDO',
 'blaCIA',
 'blaTUS',
 'blaCAU',
 'blaGES',
 'blaTEM',
 'blaLRG',
 'blaCPS']

In [12]:
x = list(ariba)

In [13]:
list_columns = [i for i in x if any(i for j in gene_filtred if str(j) in i)]

In [14]:
list_columns.append('name')

In [15]:
ariba1 = ariba[list_columns]

In [16]:
ariba2 = ariba1.filter(regex=r'(assembled|ctg_cov|name|ref_seq)')

In [17]:
ariba.head(2)

,name,A7J11_01233+.assembled,A7J11_01233+.ref_seq,A7J11_01233+.pct_id,A7J11_01233+.ctg_cov,aac_3__II-.assembled,aac_3__II-.ref_seq,aac_3__II-.pct_id,aac_3__II-.ctg_cov,aac_6___Ib+.assembled,...,tet_A_.pct_id,tet_A_.ctg_cov,tet_B_.assembled,tet_B_.ref_seq,tet_B_.pct_id,tet_B_.ctg_cov,tet_D_.assembled,tet_D_.ref_seq,tet_D_.pct_id,tet_D_.ctg_cov
0,G18250057,partial,A7J11_01233.NG_047213.1,99.31,22.9,no,NaN,NaN,NaN,yes,...,NaN,NaN,yes,tet_B_.NG_048163.1,100.0,41.5,no,NaN,NaN,NaN
1,G18250058,no,NaN,NaN,NaN,no,NaN,NaN,NaN,no,...,100.0,32.2,no,NaN,NaN,NaN,no,NaN,NaN,NaN

In [18]:
ariba2 = ariba2.replace('yes_nonunique','yes')

In [19]:
x1 = list(ariba2)

In [20]:
list(ariba2)

['blaAFM_1.assembled',
 'blaAFM_1.ref_seq',
 'blaAFM_1.ctg_cov',
 'blaEC-.assembled',
 'blaEC-.ref_seq',
 'blaEC-.ctg_cov',
 'blaNDM_-.assembled',
 'blaNDM_-.ref_seq',
 'blaNDM_-.ctg_cov',
 'blaOXA_-_10.assembled',
 'blaOXA_-_10.ref_seq',
 'blaOXA_-_10.ctg_cov',
 'blaOXA_-_31.assembled',
 'blaOXA_-_31.ref_seq',
 'blaOXA_-_31.ctg_cov',
 'blaOXA_-_35.assembled',
 'blaOXA_-_35.ref_seq',
 'blaOXA_-_35.ctg_cov',
 'blaTEM_-.assembled',
 'blaTEM_-.ref_seq',
 'blaTEM_-.ctg_cov',
 'name']

In [21]:
blaAFM_1 = x1[0:3]
blaAFM_1.append('name')

In [22]:
blaAFM_1 = ariba2[blaAFM_1]
blaAFM_1.head(2)

  blaAFM_1.assembled blaAFM_1.ref_seq  blaAFM_1.ctg_cov       name
0                 no              NaN               NaN  G18250057
1                 no              NaN               NaN  G18250058

In [23]:
blaAFM_1 = blaAFM_1[(blaAFM_1['blaAFM_1.ctg_cov'] > 10.0) & (blaAFM_1['blaAFM_1.assembled'] == 'yes')]
blaAFM_1

Empty DataFrame
Columns: [blaAFM_1.assembled, blaAFM_1.ref_seq, blaAFM_1.ctg_cov, name]
Index: []

In [24]:
sample_blaAFM_1 = blaAFM_1['name'].tolist()

In [25]:
blaEC = x1[3:6]
blaEC.append('name')

In [26]:
blaEC = ariba2[blaEC]
blaEC.head(2)

  blaEC-.assembled        blaEC-.ref_seq  blaEC-.ctg_cov       name
0              yes  blaEC_15.NG_049081.1            23.5  G18250057
1              yes   blaEC_5.NG_049085.1            28.6  G18250058

In [27]:
blaEC = blaEC[(blaEC['blaEC-.ctg_cov'] > 10.0) & (blaEC['blaEC-.assembled'] == 'yes')]
blaEC.head(2)

  blaEC-.assembled        blaEC-.ref_seq  blaEC-.ctg_cov       name
0              yes  blaEC_15.NG_049081.1            23.5  G18250057
1              yes   blaEC_5.NG_049085.1            28.6  G18250058

In [28]:
sample_blaEC = blaEC['name'].tolist()

In [29]:
blaNDM = x1[6:9]
blaNDM.append('name')

In [30]:
blaNDM = ariba2[blaNDM]
blaNDM.head(2)

  blaNDM_-.assembled blaNDM_-.ref_seq  blaNDM_-.ctg_cov       name
0                 no              NaN               NaN  G18250057
1                 no              NaN               NaN  G18250058

In [31]:
blaNDM = blaNDM[(blaNDM['blaNDM_-.ctg_cov'] > 10.0) & (blaNDM['blaNDM_-.assembled'] == 'yes')]
blaNDM.head(2)

   blaNDM_-.assembled      blaNDM_-.ref_seq  blaNDM_-.ctg_cov       name
4                 yes  blaNDM_5.NG_049337.1              25.2  G18250065
10                yes  blaNDM_5.NG_049337.1              54.2  G18250077

In [32]:
sample_blaNDM = blaNDM['name'].tolist()

In [33]:
blaOXA_10 = x1[9:12]
blaOXA_10.append('name')

In [34]:
blaOXA_10 = ariba2[blaOXA_10]
blaOXA_10.head(2)

  blaOXA_-_10.assembled   blaOXA_-_10.ref_seq  blaOXA_-_10.ctg_cov       name
0                   yes  blaOXA_1.NG_049392.1                 39.5  G18250057
1                    no                   NaN                  NaN  G18250058

In [35]:
blaOXA_10  = blaOXA_10[(blaOXA_10 ['blaOXA_-_10.ctg_cov'] > 10.0) & (blaOXA_10['blaOXA_-_10.assembled'] == 'yes')]
blaOXA_10.head(2)

  blaOXA_-_10.assembled   blaOXA_-_10.ref_seq  blaOXA_-_10.ctg_cov       name
0                   yes  blaOXA_1.NG_049392.1                 39.5  G18250057
3                   yes  blaOXA_1.NG_049392.1                 42.6  G18250060

In [36]:
sample_blaOXA_10 = blaOXA_10['name'].tolist()

In [37]:
blaOXA_31 = x1[12:15]
blaOXA_31.append('name')

In [38]:
blaOXA_31 = ariba2[blaOXA_31]
blaOXA_31.head(2)

  blaOXA_-_31.assembled blaOXA_-_31.ref_seq  blaOXA_-_31.ctg_cov       name
0                    no                 NaN                  NaN  G18250057
1                    no                 NaN                  NaN  G18250058

In [39]:
blaOXA_31 = blaOXA_31[(blaOXA_31['blaOXA_-_31.ctg_cov'] > 10.0) & (blaOXA_31['blaOXA_-_31.assembled'] == 'yes')]
blaOXA_31.head(2)

,blaOXA_-_31.assembled,blaOXA_-_31.ref_seq,blaOXA_-_31.ctg_cov,name
56,yes,blaOXA_10.NG_049393.1,24.8,G18252049

In [40]:
sample_blaOXA_31 = blaOXA_31['name'].tolist()

In [41]:
blaOXA_35 = x1[15:18]
blaOXA_35.append('name')

In [42]:
blaOXA_35 = ariba2[blaOXA_35]
blaOXA_35.head(2)

  blaOXA_-_35.assembled blaOXA_-_35.ref_seq  blaOXA_-_35.ctg_cov       name
0                    no                 NaN                  NaN  G18250057
1                    no                 NaN                  NaN  G18250058

In [43]:
blaOXA_35 = blaOXA_35[(blaOXA_35['blaOXA_-_35.ctg_cov'] > 10.0) & (blaOXA_35['blaOXA_-_35.assembled'] == 'yes')]
blaOXA_35.head(2)

,blaOXA_-_35.assembled,blaOXA_-_35.ref_seq,blaOXA_-_35.ctg_cov,name
6,yes,blaOXA_181.NG_049482.1,52.6,G18250069
7,yes,blaOXA_181.NG_049482.1,32.3,G18250070

In [44]:
sample_blaOXA_35 = blaOXA_35['name'].tolist()

In [45]:
blaTEM = x1[18:-1]
blaTEM.append('name')

In [46]:
blaTEM = ariba2[blaTEM]
blaTEM.head(2)

  blaTEM_-.assembled       blaTEM_-.ref_seq  blaTEM_-.ctg_cov       name
0                yes  blaTEM_35.NG_050264.1              38.8  G18250057
1                 no                    NaN               NaN  G18250058

In [47]:
blaTEM= blaTEM[(blaTEM['blaTEM_-.ctg_cov'] > 10.0) & (blaTEM['blaTEM_-.assembled'] == 'yes')]
blaTEM.head(2)

  blaTEM_-.assembled       blaTEM_-.ref_seq  blaTEM_-.ctg_cov       name
0                yes  blaTEM_35.NG_050264.1              38.8  G18250057
4                yes   blaTEM_1.NG_050145.1              62.0  G18250065

In [48]:
sample_blaTEM = blaTEM['name'].tolist()

In [49]:
sample_blaOXA = sample_blaOXA_10 + sample_blaOXA_31 + sample_blaOXA_35

In [50]:
total_samples = sample_blaAFM_1 + sample_blaEC + sample_blaNDM + sample_blaOXA + sample_blaTEM

In [51]:
len(total_samples)

201

In [52]:
samples_drop = list(set(total_samples))

In [53]:
len(samples_drop)

81

In [54]:
print('Total samples with cephalosporin or carbapenem resistance:', len(samples_drop))

Total samples with cephalosporin or carbapenem resistance: 81

In [55]:
samples = pd.DataFrame({'blaAFM_1': pd.Series(sample_blaAFM_1,dtype=str), 'blaEC': pd.Series(sample_blaEC,dtype=str), 'blaNDM': pd.Series(sample_blaNDM,dtype=str), 'blaOXA': pd.Series(sample_blaOXA,dtype=str),
                        'blaTEM': pd.Series(sample_blaTEM,dtype=str)})

In [60]:
print ('Total samples with cephalosporin or carbapenem resistance:')
print(samples)

Total samples with cephalosporin or carbapenem resistance:
   blaAFM_1      blaEC     blaNDM     blaOXA     blaTEM
0       NaN  G18250057  G18250065  G18250057  G18250057
1       NaN  G18250058  G18250077  G18250060  G18250065
2       NaN  G18250059  G18250099  G18250065  G18250069
3       NaN  G18250060  G18250128  G18250068  G18250070
4       NaN  G18250065  G18250157  G18250081  G18250077
..      ...        ...        ...        ...        ...
76      NaN  G18253316        NaN        NaN        NaN
77      NaN  G18253321        NaN        NaN        NaN
78      NaN  G18253323        NaN        NaN        NaN
79      NaN  G18253332        NaN        NaN        NaN
80      NaN  G18253335        NaN        NaN        NaN

[81 rows x 5 columns]

In [57]:
samples.to_csv('samples.csv')